{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<body>
<title> Our Plan</title>
<link rel="shortcut icon" type="image/png" href="/static/img/sun.png">
<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
hi
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input id="save" type="submit" value="Submit">
</form>

<button id="load"> Load </button>
<div id="loaded" style="border:1px solid black;width:200px;height:30px;">utest</div>
<script> const csrf = "{{ csrf }}" </script>
<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
