{% load static %}
<title> Mana Retreat Center</title>
<link rel="shortcut icon" type="image/png" href="/static/img/sun.png">
<link rel="stylesheet" href="/static/css/retreat.css?{{ now  }}" />
<link rel="stylesheet" href="/static/css/faq.css?{{ now  }}" />
<div id="top"></div>
<div id="swoop"></div>
<div id="title">Mana Retreat Center
    <div class="sub">Vega Alta, Puerto Rico</div>
</div>
<div id="topSpacer"></div>    
<!-- Summary -->
<div id="brief">
    <div class="title">    Winter Rejuvenation Retreat</div>
    <h3>
    February 3 - 5, 2023<span style="width:1px;height:50px;border:1px solid #aaa;margin:16px;"></span>Vega Alta, Puerto Rico

    </h3>
    <p>       Mana Retreat Center is an ultra private, quiet, and lush  vacation getaway hidden away on 5 acres in the tropical rainforest mountains. Come experience a wonderful weekend with us while we meditate, explore, and relax by the serene green canopy of the jungle!  </p>

        <div class="booknow">
            <a href="https://forms.gle/cXHngeGVYwMFBDfL6" target="_blank">BOOK NOW</a>
        </div>



</div>
        <div class="yogaBox">
            Are you a yoga instructor?
            <div class="booknow teacher"> 
                <a href="https://forms.gle/MTd7iwjQNSd3Fnng8" target="_blank">REGISTER FREE</a>
            </div>
        </div>


<div id="menu">
    <div class="background"></div>
    <span class="title"> SCHEDULE </span>
    <div class="row">
        <div class="left">FRIDAY</div>
        <div class="right">
            <ul>
              <li>Arrival at the retreat eco-lodge</li>
              <li>Dinner & welcome</li>
              <li>Meditation session </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="left">SATURDAY</div>
        <div class="right">
            <ul>
               <li>Yoga & breakfast</li>
              <li>Activities, free time, lunch</li>
              <li>Sunset beach trip</li>
              <li>Dinner</li>
              <li>Meditation session</li>
            </ul> 
        </div>
    </div>
    <div class="row">
        <div class="left">SUNDAY</div>
        <div class="right">
            <ul>
              <li>Breakfast</li>
              <li>Caves excursion</li>
              <li>Yoga</li>
              <li>Depart for San Juan Airport </li>
            </ul>
        </div>
    </div>
</div>


<!-- FAQ -->
<div id="faq">
    <div class="title2"> FAQ </div>
    <button class="accordion">What is included in the retreat?</button>
    <div class="panel" style="display:block;">
    <h2>Included in retreat:</h2>
    <ul>
        <li>Accommodations for 2 nights</li>
        <li>Prepared dinners, ingredients for breakfast and lunch</li>
        <li>Trip to Cuevas Arenales Caves (+Swimming)</li>
        <li>Trip to Cerro Gordo Beach</li>
        <li>Yoga classes 1-2 times a day</li>
        <li>Guided meditation</li>
        <li>Wi-fi in all rooms and common areas</li>
        <li>Use of surfboards and snorkeling gear</li>
    </ul>
    <h2> Not included in retreat:</h2>
    <ul>
        <li>Airfare to/from Puerto Rico</li>
        <li>Uber fares</li>
    </ul>
    </div>

    <button class="accordion">What is the yoga like?</button>
        <div class="panel">
          <p>All levels of yoga experience are welcome, from beginners to more seasoned practitioners. Come as you are—your practice is your own!</p>
        </div>

    <button class="accordion">What is the weather like in Vega Alta in February?</button>
        <div class="panel">
              <p>This region has a tropical climate. Daily high temperatures are around 83°F (rarely falling below 80°F or exceeding 86°F). Daily low temperatures are around 70°F (rarely falling below 67°F or exceeding 72°F). Though February is the month with the least rainfall, you may get some precipitation during the retreat.
        </p>
        </div>
    <button class="accordion">What are the meals like?</button>
        <div class="panel">
          <p>Dinners will be made right in the retreat kitchen and catered. There will be ingredients for breakfast and lunch to be prepared as a group. Special dietary needs such as vegetarian, vegan, gluten free, and allergies can be accommodated. Please let us know when you book your retreat.

        </p>
        </div>
    <button class="accordion">What is the average group size? Can I join on my own?</button>
        <div class="panel">
          <p>We have enough beds to sleep 12, and with cots we can sleep an additional 10. There is a minimum of six persons required to run a retreat. Many guests are traveling solo. Please feel very welcome to come on your own. It will be an incredible experience!
        </p>
        </div>

    <button class="accordion">What are the expected Uber / Airfare costs?</button>
        <div class="panel">
          <p>Ubers to/from the airport run about $40 per ride, and to the beach and caves run about $30 per ride. Ubers will be shared whenever possible and we will connect you before the event to arrange airport shares. </p>
    <p>Airfare runs between $150-300 round trip depending on your location. We suggest using Google Flights to find the best price.</p>
        </p>
        </div>


    <button class="accordion">What if I want to arrive earlier / stay longer?</button>
        <div class="panel">
          <p>Please <a href="mailto:vega.alta.3plex@gmail.com" target="_blank">contact us</a> at vega.alta.3plex@gmail.com and we will happily work with you to arrange a longer stay! There is so much more the island has to offer, so we expect some guests will want to make a trip of it.
        </p>
        </div>


</div>


<!-- PRICING & ACOCMODATIONS -->
<div id="pricing">
    <div class="title2">PRICING & ACCOMODATIONS</div>
    <i class="note">Price includes meals.</i><br>
    <i class="note">Price does not include travel.</i><br>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/cot.jpg)";></div>
        <div class="desc">  
            <h3> Cushioned Cot ($150)</h3>Our most modest accommodation (albeit no less comfortable!). Stay in one of our four shared rooms or the living room. 
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bunk.jpg)";></div>
        <div class="desc">  
            <h3> Bunk room ($200) </h3>Full bed. Room sleeps between 2-4. Bath shared with 3-4 people.
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bed.jpg)";></div>
        <div class="desc">  
            <h3> Private bedroom ($300) </h3>Queen bed. Bath shared with 3-4 people.

        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bedroom.jpg)";></div>
        <div class="desc">  
            <h3> Master suite ($400) </h3>Queen bed, private bath.
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/apt.jpg)";></div>
        <div class="desc">  
            <h3> Private apartment ($700) </h3>Queen bed, couch, private bath, kitchen.

        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/plus.jpg)";></div>
        <div class="desc">  
            <h3> Add a person ($100) </h3>Bringing a friend, partner, or family member? Add them for $100 per person. Shared rooms not eligible.
        </div>
    </div>
</div>

        <div class="booknow">
            <a href="https://forms.gle/cXHngeGVYwMFBDfL6" target="_blank">BOOK NOW</a>
        </div>
         <div class="yogaBox">
            Are you a yoga instructor?
            <div class="booknow teacher"> 
                <a href="https://forms.gle/MTd7iwjQNSd3Fnng8" target="_blank">REGISTER FREE</a>
            </div>
        </div>



<!-- Mosaic -->
<div class="title2">THE PROPERTY </div>
<div class="container">
    <div class="tile">
        <img src="{% static "img/mana1.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana2.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana3.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana4.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana5.webp" %}" alt="">
    </div>
</div>

<div id="team">
    <div class="title2">THE TEAM</div>

    <div class="member">
        <img src="/static/img/paula.jpg" />
        <h2> Paula Mendoza</h2>
        Master event orchestrater    
        <br> Designer, Product Manager
    <br>    Certified cool person
    
    </div>
    <div class="member">
        <img src="/static/img/charlie.jpg" />
        <h2> Charlie Van Norman</h2>
        Regenerative developer
<br>        EdTech entrepreneur
        <br> Mana Center partner
    </div>
    <div class="member">
        <img src="/static/img/lisa.jpg" />
        <h2> Lisa Betts-LaCroix</h2>
        Empowerment practitioner <br>
        Speaking coach <br> Mana Center partner
               
 
    </div>
     <div class="member">
        <img src="/static/img/damaris.jpg" />
        <h2> Damaris Ayala</h2>
        Teacherpreneur 
        <br> Operations Manager 
        <br> Mana Center partner
    </div>           
      <div class="member">
        <img src="/static/img/sam.jpg" />
        <h2> Sam Albertsen </h2>
        Finances & Operations
        <br> Surfer, Finder of Gems
        <br> Mana Center partner
               
 
    </div>
</div>

    <br><br><br>
        <div class="booknow">
            <a href="https://forms.gle/cXHngeGVYwMFBDfL6" target="_blank">BOOK NOW</a>
        </div>
         <div class="yogaBox">
            Are you a yoga instructor?
            <div class="booknow teacher"> 
                <a href="https://forms.gle/MTd7iwjQNSd3Fnng8" target="_blank">REGISTER FREE</a>
            </div>
        </div>


    <div class="title2">QUESTIONS?</div>
<div id="footer"> contact Paula at (213) 304-3740 <br> or <a href="mailto:vega.alta.3plex@gmail.com" target="_blank">contact us</a> at vega.alta.3plex@gmail.com</div>
<script src="/static/js/faq.js"></script>


